.hero {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
}

.hero .hero-left-sec {
    flex-grow: 1;
}

.hero-profile-image {
    width: 65px;
    margin-bottom: 10px;
}

.hero .hero-description {
    color: var(--subtitle);
    margin: 22px 0;
    line-height: 1.66;
}

.hero-title {
    color: var(--title);
}

.lets-p {
    color: var(--title);
}