.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.header .nav-links {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--navbg);
    padding: 13px 30px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    position: relative;
}

.close-nav {
    position: absolute;
    font-size: 26px;
    top: 20px;
    right: 25px;
    cursor: pointer;
}


.header li a {
    color: var(--title);
    text-transform: capitalize;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.header li a:hover {
    color: rgb(0, 187, 167);
}

.show-nav {
    display: none;
}

.pop-nav {
    position: fixed;
    inset: 0;
    z-index: 999;
    width: 85%;
    margin: 0 auto;
    background-color: #000000b5;
    backdrop-filter: blur(2px);
}

@keyframes navPop {
    0%{scale: 0;}
    60%{scale: 1.2;}
    100%{scale: 1;}
}

.pop-nav-links {
    animation: navPop 0.7s 1;
    max-width: 500px;
    margin: 40px auto;
    border-radius: 10px;
    padding: 30px 25px;
    background-color: var(--secondary-color);
    position: relative;
    -webkit-animation: navPop 0.7s 1;
}

.pop-nav li:not(:last-child) {
    border-bottom: 1px solid var(--border);
    margin-bottom: 15px;
    padding-bottom: 10px;
    text-transform: capitalize;
}

.pop-nav li:first-child {
    padding-top: 30px;
}


@media (max-width: 767px) {
    .header .nav-links {
        display: none;
    }
    .show-nav {
        display: block;
    }
}


.icon {
    background-color: var(--navbg);
    color: rgb(0, 187, 167);
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    border: 1px solid transparent;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.icon:hover {
    border-color: rgba(250, 128, 114, 0.668);
}

.active-nav {
    color: rgb(0, 187, 167) !important;
    text-shadow: 0px 0px 2px rgb(0, 187, 167);
}