
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #aaa;
    padding: 50px 0;
}

.footer a {
    color: white;
    margin-left: 4px;
}

@media (max-width: 991px) {
    .footer {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}