
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--subtitle);
    padding: 50px 0;
}

.footer a {
    color: var(--title);
    margin-left: 4px;
    font-weight: 600;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: var(--accent);
}

@media (max-width: 991px) {
    .footer {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}